<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <main style="margin: 1em">
      <h3>My Projects</h3>
      <body>
        <p>Hey these are some of my super cool projects</p>
        <img>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
          accusantium cum facilis cupiditate libero, quidem officia labore
          molestiae iure in, suscipit fugiat sit dolor. Voluptates consectetur
          corrupti voluptate sit repellat.
        </p>

        <ul>
          <li>
            <h3>Gains</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
              voluptatibus fuga ad est, tempora porro quam nihil ipsa rerum
              debitis ut in minus veniam culpa, mollitia doloremque animi
              corporis eligendi.
            </p>
          </li>
          <li>
            <h3>Pizza Shack</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
              voluptate aut veritatis ab tempora! Natus veritatis voluptatem
              maxime, dolorum neque ipsum mollitia fuga sunt autem? Quidem totam
              ipsum a? Corrupti?
            </p>
          </li>
          <li>
            <h3>Tiny App</h3>
          </li>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            sequi omnis consequuntur necessitatibus beatae ducimus totam id, et
            fuga voluptatem neque quo dolorum minima tempore ad ab soluta dolor
            quas!
          </p>
        </ul>
      </body>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
