<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <main style="margin: 1em">
      <h2>My Projects</h3>
      <body>
        <p>Hey these are some of my super cool projects</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
          accusantium cum facilis cupiditate libero, quidem officia labore
          molestiae iure in, suscipit fugiat sit dolor. Voluptates consectetur
          corrupti voluptate sit repellat.
        </p>
        
        <ul>
          <li>
            <h3>Gains</h3>
            <img src="http://placekitten.com/150/151" alt="Gains the wonder workout app">
            <p>
              No, fair Princess; he is the general challenger.  My lord, the roynish clown, at whom so oft Your Grace was wont to laugh, is also missing.  
            </p>
          </li>
          <li>
            <h3>Pizza Shack</h3>
            <img src="http://placekitten.com/150/152" alt="Text based pizza website">
            <p>
              Let Rome in Tiber melt, and the wide arch Of the rang'd empire fall! Here is my space.  Kingdoms are clay;   A fool, a fool! I met a fool i' th' forest, A motley fool.  Alas the day! what shall I do with my doublet and hose?  What did he when thou saw'st him? What said he? How look'd he?  Wherein went he? What makes he here? Did he ask for me? Where remains he? How parted he with thee? And when shalt thou see him again? Answer me in one word. But doth he know that I am in this forest, and in man's apparel? Looks he as freshly as he did the day he wrestled?
           </p>      
          </li>
          <li>
            <h3>Tiny App</h3>
            <img src="http://placekitten.com/150/153" alt="Gains the wonder workout app">
          </li>
          <p>
            If he fail of that, He will have other means to cut you off; I overheard him and his practices.   I think he be transform'd into a beast; For I can nowhere find him like a man. Not see him since! Sir, sir, that cannot be.
          </p>
        </ul>
      </body>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
